html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url(http://unsplash.imgix.net/46/yzS7SdLJRRWKRPmVD0La_creditcard.jpg?q=75&fm=jpg&s=7cc01cbdd45363cc0e2e8340b185bca2) no-repeat center center fixed;
  background-size: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-family: 'Megrim', cursive;
  color: #fff;
  font-size: 70px;
  font-weight: 100;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
}

a {font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}

