html, body {
  height: 100%;
  width: 100%;
  background-color: #000;
}

.home {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  border: 0px 0px 0px 0px;
  background: url(http://unsplash.imgix.net/46/yzS7SdLJRRWKRPmVD0La_creditcard.jpg?q=75&fm=jpg&s=7cc01cbdd45363cc0e2e8340b185bca2) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: none;
}

.visible{
  display: block;
}

h1 {
  font-family: 'Megrim', cursive;
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  opacity: 0.72;
}

.name{
  position: absolute;
  margin: 0 auto;
  top: 200px;
  bottom: 200px;
  right: 0;
  left: 0;
}

.name p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 90;
  opacity: 0.72;
}

.name p:hover, .name p:focus, .name p:active{
  cursor: pointer;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 25px #fff;
  -webkit-transition: width 0.3s; /*Safari & Chrome*/
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  -o-transition: width 0.3s; /* Opera */
}

a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  opacity: 0.72;}

#news{
  height: 350px;
  width: 300px;
  position: absolute;
  bottom: 5%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  overflow: scroll;
}

.date {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Halant', serif;
  font-style: italic;
  font-weight: 20;
  font-size: 16px;
}

.news-post {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Halant', serif;
  font-style: italic;
  font-weight: 10;
  font-size: 12px;
}

#news-title {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: absolute;
  bottom: 62.3%;
  right: 30.2%;
}

#menu-icon {
  filter: alpha(opacity=75);
  opacity: 0.72;
  position: absolute;
  top: 7%;
  left: 3.9%;
}

#menu-icon:hover{
  cursor: pointer;
}

.menu {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: -285px;
  height: 100%;
  width: 16%;
  padding-top: 50px;
  padding-left: 0px;
}

.menu ul{
   list-style-type: none;
   text-align: center;
}

.menu li{
  margin: 25px 65px 25px 25px;
}

.menu li:hover, .menu li:focus, .menu li:active{
  cursor: pointer;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 25px #fff;
  -webkit-transition: width 0.3s; /*Safari & Chrome*/
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  -o-transition: width 0.3s; /* Opera */

}

.profile{
  position: fixed;
  top: 0;
  left: 0;
  background: url('images/profile-bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  display: none;
}

.description{
  height: 50%;
  width: 33.3%;
  position: absolute;
  left: 33.3%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  overflow: scroll;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Halant', serif;
  font-style: italic;
  font-weight: 10;
  font-size: 12px;
}

#profile-title{
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 25.9%;
  left: 33.3%;
}

#profile-img {
  opacity: 0.8;
  height: 80px;
  width: 33.3%;
  position: fixed;
  top: 35%;
  left: 33.3%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#profile-img img{
  height: 80px;
  margin-right: 20px;
}

.notes {
  position: fixed;
  top: 0;
  left: 0;
  background: url('images/notes-bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   display: none;
}

#notes-title {
  font-family: 'Megrim', cursive;
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  opacity: 0.72;
  position: absolute;
  margin: 0 auto;
  top: 45%;
  right: 0;
  left: 0;
}

.notes-post {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-weight: 1;
  font-size: 16px;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 40px;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: auto;
  line-height: normal;
  display: inline-block;
  -ms-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
