html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url(http://unsplash.imgix.net/46/yzS7SdLJRRWKRPmVD0La_creditcard.jpg?q=75&fm=jpg&s=7cc01cbdd45363cc0e2e8340b185bca2) no-repeat center center fixed;
  background-size: 100%;
}

h1 {
  font-family: 'Megrim', cursive;
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  opacity: 0.75;
}

.name{
  position: absolute;
  margin: 0 auto;
  top: 200px;
  bottom: 200px;
  right: 0;
  left: 0;
}

.name p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 90;
  opacity: 0.75;
}

.name p:hover {
  cursor: pointer;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;}

#news{
  height: 350px;
  width: 300px;
  position: absolute;
  bottom: 5%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.date {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Halant', serif;
  font-style: bold;
  font-weight: 10;
}

.news-post {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Halant', serif;
  font-style: italic;
  font-weight: 10;
}

#news-title {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: absolute;
  bottom: 60%;
  right: 30.2%;
}

















